
option_settings:
  aws:elasticbeanstalk:application:environment:
    SERVER_PORT: 8081
    APP_AI_RAG_TOP_K: 6
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /api: /api
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.medium
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /api/ai/health
